<!DOCTYPE html>
<html lang="en">
<head>
  <title>Rock, Paper, Scissors</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
</head>
<body>
 <div>
  <a herf ="/rock">
  
</body>
</html>





<h1><%= @some_number %></h1>

<h1>hello world</h1>

<%= index = rand (3) %>

<%= moves = ["rock","paper","scissors"] %>

<%= comp_move = moves.at(index) %>

<% if comp_move == "rock" %>
  <% outcome = "tied" %>
<% elsif comp_move == "paper" %>
  <% outcome = "lost" %>
<% elsif comp_move == "scissors" %>
  <% outcome = "won" %>   
<% end %>


<h2>We played rock!</h2>

<h2>They played <%= comp_move %>!</h2>

<h2>We <%= outcome %>!</h2>
